<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.p2p.quartz" />

    <!--每天凌晨两点更新数据-->
    <bean id="ydataUpdateJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="ydataUpdateJobDetail" />
        <property name="group" value="group1" />
        <property name="jobClass" value="com.p2p.quartz.YdataUpdateJob" />
        <property name="durability" value="true" />
        <property name="jobDataAsMap"><!-- 非常重要，用来向JobDetail传参 -->
            <map>
                <entry key ="ydataService" value-ref="ydateServiceImpl"/>
                <entry key="timeout" value="5" />
            </map>
        </property>
    </bean>
    <bean id="ydataUpdateJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="ydataUpdateJobTrigger" />
        <property name="group" value="group1" />
        <property name="jobDetail" ref="ydataUpdateJobDetail" />
        <property name="cronExpression" value="0 0 2 * * ?" />
    </bean>
    <!--每月第一天00：00初始化当月实时数据-->
    <bean id="ydataSaveJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="ydataSaveJobDetail" />
        <property name="group" value="group1" />
        <property name="jobClass" value="com.p2p.quartz.YdataJob" />
        <property name="durability" value="true" />
        <property name="jobDataAsMap"><!-- 非常重要，用来向JobDetail传参 -->
            <map>
                <entry key ="ydataService" value-ref="ydateServiceImpl"/>
                <entry key="timeout" value="5" />
            </map>
        </property>
    </bean>
    <bean id="ydataSaveJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="ydataSaveJobTrigger" />
        <property name="group" value="group1" />
        <property name="jobDetail" ref="ydataSaveJobDetail" />
        <property name="cronExpression" value="0 0 0 1 * ?" />
    </bean>
    <!--cronJob，每分钟跑一次-->
    <bean id="cronJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="cronJobDetail" />
        <property name="group" value="group1" />
        <property name="jobClass" value="com.p2p.quartz.CronJob" />
        <property name="durability" value="true" />
        <property name="jobDataAsMap"><!-- 非常重要，用来向JobDetail传参 -->
            <map>
                <entry key ="ticketService" value-ref="ticketServiceImpl"/>
                <entry key="timeout" value="5" />
            </map>
        </property>
    </bean>
    <bean id="cronJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="cronJobTrigger" />
        <property name="group" value="group1" />
        <property name="jobDetail" ref="cronJobDetail" />
        <property name="cronExpression" value="0 0 0 * * ?" />
    </bean>

    <!--每天凌晨0点判断是否流标-->
    <bean id="lostBorrowJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="lostBorrowJobDetail" />
        <property name="group" value="group1" />
        <property name="jobClass" value="com.p2p.quartz.LostBorrowJob" />
        <property name="durability" value="true" />
        <property name="jobDataAsMap"><!-- 非常重要，用来向JobDetail传参 -->
            <map>
                <entry key ="rewardService" value-ref="rewardServiceImpl"/>
                <entry key ="userMoneyService" value-ref="userMoneyServiceImpl"/>
                <entry key ="borrowApplyService" value-ref="borrowApplyServiceImpl"/>
                <entry key ="tzbService" value-ref="tzbServiceImpl"/>
                <entry key ="rewardSettingService" value-ref="rewardSettingServiceImpl"/>
                <entry key="timeout" value="5" />
            </map>
        </property>
    </bean>
    <bean id="lostBorrowJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="lostBorrowJobTrigger" />
        <property name="group" value="group1" />
        <property name="jobDetail" ref="lostBorrowJobDetail" />
        <property name="cronExpression" value="0 0 0 * * ?" />
    </bean>

    <!--每月1号凌晨2点发放投资奖励-->
    <bean id="rewardJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="rewardJobDetail" />
        <property name="group" value="group1" />
        <property name="jobClass" value="com.p2p.quartz.RewardJob" />
        <property name="durability" value="true" />
        <property name="jobDataAsMap"><!-- 非常重要，用来向JobDetail传参 -->
            <map>
                <entry key ="rewardService" value-ref="rewardServiceImpl"/>
                <entry key ="userMoneyService" value-ref="userMoneyServiceImpl"/>
                <entry key="timeout" value="5" />
            </map>
        </property>
    </bean>
    <bean id="rewardJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="rewardJobTrigger" />
        <property name="group" value="group1" />
        <property name="jobDetail" ref="rewardJobDetail" />
        <property name="cronExpression" value="0 0 2 1 * ?" />
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="ydataUpdateJobDetail" />
                <ref bean="ydataSaveJobDetail" />
                <ref bean="lostBorrowJobDetail" />
                <ref bean="rewardJobDetail" />
                <ref bean="cronJobDetail" />
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="ydataUpdateJobTrigger" />
                <ref bean="ydataSaveJobTrigger" />
                <ref bean="lostBorrowJobTrigger" />
                <ref bean="rewardJobTrigger" />
                <ref bean="cronJobTrigger" />
            </list>
        </property>
    </bean>

</beans>