<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.dao.BankCardMapper">
    <resultMap id="BaseResultMap" type="com.p2p.bean.BankCard">
        <constructor>
            <idArg column="bcid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="uid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="cardno" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="rname" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="idno" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="bktime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

    <insert id="save" parameterType="com.p2p.bean.BankCard">
        <![CDATA[
          insert into bankcard(uid, cardno, rname, idno,type) values(#{uid}, #{cardno}, #{rname},${idno},#{type})
       ]]>
    </insert>
    <select id="bankCardsByUid" resultType="bankCard">
        <![CDATA[
          select * from bankcard b, t_user u where b.uid = u.uid and u.uid=#{uid}
        ]]>
    </select>



</mapper>