<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.dao.BorrowDetailMapper">
    <resultMap id="BaseResultMap" type="com.p2p.bean.BorrowDetail">
        <constructor>
            <idArg column="bdid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="fpic" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ypic" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="qpic" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="tpic" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="mpurpose" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="hksource" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="suggest" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="xmdes" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="guarantee" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="money" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="nprofit" javaType="java.lang.Float" jdbcType="REAL"/>
            <arg column="way" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="cpname" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="baid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="resint1" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="resint2" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="resstr1" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="resstr2" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    bdid, fpic, ypic, qpic, tpic, mpurpose, hksource, suggest, xmdes, guarantee, money, 
    nprofit, way, cpname, baid, resint1, resint2, resstr1, resstr2
  </sql>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from borrowdetail
        where bdid = #{bdid }
    </select>

    <delete id="removeById" parameterType="java.lang.Integer">
      delete from borrowdetail where bdid = #{bdid}
    </delete>

    <delete id="remove" parameterType="java.lang.Integer">
        delete from borrowdetail where bdid = #{bdid}
    </delete>

    <insert id="save" parameterType="com.p2p.bean.BorrowDetail">
        insert into borrowdetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fpic != null">
                fpic,
            </if>
            <if test="ypic != null">
                ypic,
            </if>
            <if test="qpic != null">
                qpic,
            </if>
            <if test="tpic != null">
                tpic,
            </if>
            <if test="mpurpose != null and mpurpose != ''">
                mpurpose,
            </if>
            <if test="hksource != null and hksource != ''">
                hksource,
            </if>
            <if test="suggest != null and suggest != ''">
                suggest,
            </if>
            <if test="xmdes != null and xmdes != ''">
                xmdes,
            </if>
            <if test="guarantee != null and guarantee != ''">
                guarantee,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="nprofit != null">
                nprofit,
            </if>
            <if test="way != null">
                way,
            </if>
            <if test="cpname != null">
                cpname,
            </if>
            <if test="baid != null">
                baid,
            </if>
            <if test="resint1 != null">
                resint1,
            </if>
            <if test="resint2 != null">
                resint2,
            </if>
            <if test="resstr1 != null">
                resstr1,
            </if>
            <if test="resstr2 != null">
                resstr2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fpic != null">
                #{fpic },
            </if>
            <if test="ypic != null">
                #{ypic },
            </if>
            <if test="qpic != null">
                #{qpic },
            </if>
            <if test="tpic != null">
                #{tpic },
            </if>
            <if test="mpurpose != null and mpurpose != ''">
                #{mpurpose },
            </if>
            <if test="hksource != null and hksource != ''">
                #{hksource },
            </if>
            <if test="suggest != null and suggest != ''">
                #{suggest },
            </if>
            <if test="xmdes != null and xmdes != ''">
                #{xmdes },
            </if>
            <if test="guarantee != null and guarantee != ''">
                #{guarantee },
            </if>
            <if test="money != null">
                #{money },
            </if>
            <if test="nprofit != null">
                #{nprofit},
            </if>
            <if test="way != null">
                #{way },
            </if>
            <if test="cpname != null">
                #{cpname },
            </if>
            <if test="baid != null">
                #{baid },
            </if>
            <if test="resint1 != null">
                #{resint1 },
            </if>
            <if test="resint2 != null">
                #{resint2 },
            </if>
            <if test="resstr1 != null">
                #{resstr1 },
            </if>
            <if test="resstr2 != null">
                #{resstr2 },
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.p2p.bean.BorrowDetail">
        update borrowdetail
        <set>
            <if test="fpic != null">
                fpic = #{fpic },
            </if>
            <if test="ypic != null">
                ypic = #{ypic },
            </if>
            <if test="qpic != null">
                qpic = #{qpic },
            </if>
            <if test="tpic != null">
                tpic = #{tpic },
            </if>
            <if test="mpurpose != null">
                mpurpose = #{mpurpose },
            </if>
            <if test="hksource != null">
                hksource = #{hksource },
            </if>
            <if test="suggest != null">
                suggest = #{suggest },
            </if>
            <if test="xmdes != null">
                xmdes = #{xmdes },
            </if>
            <if test="guarantee != null">
                guarantee = #{guarantee },
            </if>
            <if test="money != null">
                money = #{money },
            </if>
            <if test="nprofit != null">
                nprofit = #{nprofit},
            </if>
            <if test="way != null">
                way = #{way },
            </if>
            <if test="cpname != null">
                cpname = #{cpname },
            </if>
            <if test="resint1 != null">
                resint1 = #{resint1 },
            </if>
            <if test="resint2 != null">
                resint2 = #{resint2 },
            </if>
            <if test="resstr1 != null">
                resstr1 = #{resstr1 },
            </if>
            <if test="resstr2 != null">
                resstr2 = #{resstr2 },
            </if>
        </set>
        where baid = #{baid }
    </update>
</mapper>