<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.dao.FriendMapper">
  <resultMap id="BaseResultMap" type="com.p2p.bean.Friend">
    <constructor>
      <idArg column="fid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="furl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fpic" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    fid, furl, fpic
  </sql>
  <select id="listPagerCriteria" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select f.fid,f.furl,f.fpic from friend f
     limit #{pager.beginIndex}, #{pager.pageSize}
  </select>
  <select id="countCriteria" resultType="long" parameterType="com.p2p.bean.Media">
    <![CDATA[
          select count(f.fid) from friend f
    ]]>
  </select>

  <delete id="removeById" parameterType="java.lang.Integer">
    delete from friend
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.p2p.bean.Friend">
    insert into friend (furl, fpic)
    values(#{furl,jdbcType=VARCHAR}, #{fpic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.p2p.bean.Friend">
    insert into friend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="furl != null">
        furl,
      </if>
      <if test="fpic != null">
        fpic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="furl != null">
        #{furl,jdbcType=VARCHAR},
      </if>
      <if test="fpic != null">
        #{fpic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.p2p.bean.Friend">
    update friend
    <set>
      <if test="furl != null">
        furl = #{furl,jdbcType=VARCHAR},
      </if>
      <if test="fpic != null">
        fpic = #{fpic,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.p2p.bean.Friend">
    update friend
    set furl = #{furl,jdbcType=VARCHAR},
      fpic = #{fpic,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <select id="listAll" resultType="com.p2p.bean.Friend">
    select * from friend
  </select>
</mapper>