<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.dao.HuserMapper">
  <resultMap id="BaseResultMap" type="com.p2p.bean.Huser">
    <constructor>
      <idArg column="huid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="rname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.Integer" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pwd" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="huname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="oid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="oname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="resint1" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="resint2" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="resstr1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="resstr2" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    huid, rname, sex, phone, pwd, huname, oid, oname, email, resint1, resint2, resstr1, resstr2
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from huser
    where huid = #{huid,jdbcType=INTEGER}
  </select>
  <delete id="removeById" parameterType="java.lang.Integer">
    delete from huser
    where huid = #{huid,jdbcType=INTEGER}
  </delete>

  <select id="getByPhonePwd" resultType="huser">
    <![CDATA[
      select *  from huser where phone = #{phone} and pwd = #{pwd}
     ]]>
  </select>

  <select id="getByPhone" parameterType="string" resultType="int">
    <![CDATA[
          select * from huser where phone = #{phone}
        ]]>
  </select>

  <select id="getById" parameterType="integer" resultType="huser">
    <![CDATA[
          select *  from huser where huid = #{huid}
     ]]>
  </select>

  <select id="listPagerCriteria" resultType="com.p2p.vo.HuserJurVO">
  <![CDATA[
			select h.huid, r.rname as rolename, h.huname, h.rname, h.phone, h.email
			from huser h,role r,roleuser ru
			where h.huid = ru.huid and ru.rid = r.rid
			limit #{pager.beginIndex}, #{pager.pageSize}
		]]>
  </select>

  <select id="countCriteria" resultType="long" parameterType="com.p2p.bean.Huser">
	  <![CDATA[
          select count(huid) from huser
        ]]>
  </select>

  <insert id="save" parameterType="com.p2p.bean.Huser">
    <selectKey keyColumn="huid" keyProperty="huid" resultType="integer" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into huser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rname != null">
        rname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="huname != null">
        huname,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="oname != null">
        oname,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="resint1 != null">
        resint1,
      </if>
      <if test="resint2 != null">
        resint2,
      </if>
      <if test="resstr1 != null">
        resstr1,
      </if>
      <if test="resstr2 != null">
        resstr2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="huid != null">
        #{huid,jdbcType=INTEGER},
      </if>
      <if test="rname != null">
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="huname != null">
        #{huname,jdbcType=VARCHAR},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="oname != null">
        #{oname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="resint1 != null">
        #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null">
        #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null">
        #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null">
        #{resstr2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.p2p.bean.Huser">
    update huser
    <set>
      <if test="rname != null">
        rname = #{rname,jdbcType=INTEGER},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="huname != null">
        huname = #{huname,jdbcType=VARCHAR},
      </if>
      <if test="oid != null">
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="oname != null">
        oname = #{oname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="resint1 != null">
        resint1 = #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null">
        resint2 = #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null">
        resstr1 = #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null">
        resstr2 = #{resstr2,jdbcType=VARCHAR},
      </if>
    </set>
    where huid = #{huid,jdbcType=INTEGER}
  </update>
</mapper>