<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.dao.RecommendMapper">
  <sql id="common_recommend">
    <if test="recommend != null and recommend.createdTime != null and recommend.createdTime != ''">
      and r.created_time <![CDATA[<=]]> #{recommend.createdTime}
    </if>
  </sql>

  <insert id="save" parameterType="com.p2p.bean.Recommend">
    <![CDATA[
    insert into recommend(tid, tname, uid, rname, created_time) values(#{tid}, #{tname}, #{uid}, #{rname}, #{createdTime})
   ]]>
  </insert>

  <select id="listPagerCriteria" resultType="com.p2p.bean.Recommend">
    <![CDATA[
        select r.rmid, r.tname, r.rname, r.created_time as createdTime from recommend r where tid = #{recommend.uid}
     ]]>
    <include refid="common_recommend" />
    limit #{pager.beginIndex}, #{pager.pageSize}
  </select>

  <select id="countCriteria" resultType="long" parameterType="com.p2p.bean.Recommend">
    <![CDATA[
          select count(r.rmid) from recommend r where tid = #{recommend.uid}
    ]]>
    <include refid="common_recommend" />
  </select>
</mapper>