<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.dao.RecommendMapper">

  <insert id="save" parameterType="com.p2p.bean.Recommend">
    <![CDATA[
    insert into recommend(tid, tname, uid, rname, created_time) values(#{tid}, #{tname}, #{uid}, #{rname}, #{createdTime})
   ]]>
  </insert>

  <select id="listPagerCriteria" resultType="com.p2p.bean.Recommend">
    <![CDATA[
        select r.rmid, r.tname, r.uid, r.rname, r.created_time as createdTime from recommend r
        where r.tid = #{recommend.tid}
     ]]>
     <if test="recommend.first != null and recommend.first != ''">
       and r.created_time between #{recommend.first}
     </if>
    <if test="recommend.end != null and recommend.end != ''">
       and #{recommend.end}
     </if>
    order by created_time desc
    limit #{pager.beginIndex}, #{pager.pageSize}
  </select>

  <select id="countCriteria" resultType="long" parameterType="com.p2p.bean.Recommend">
    <![CDATA[
          select count(r.rmid) from recommend r where r.uid = #{recommend.uid}
    ]]>
    <if test="recommend.first != null and recommend.first != ''">
      and r.created_time between 'recommend.first'
    </if>
    <if test="recommend.end != null and recommend.end != ''">
      and 'recommend.end'
    </if>
  </select>
</mapper>