<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.dao.RewardSettingMapper">
  <resultMap id="BaseResultMap" type="com.p2p.bean.RewardSetting">
    <constructor>
      <idArg column="rwsid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="minmoney" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="maxmoney" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="percent" javaType="java.lang.Double" jdbcType="DOUBLE" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    rwsid, minmoney, maxmoney, percent
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reward_setting
    where rwsid = #{rwsid,jdbcType=INTEGER}
  </select>

  <select id="getPercent" resultType="double">
    select percent from reward_setting where #{money} <![CDATA[ >= ]]> minmoney and #{money} <![CDATA[ < ]]> maxmoney
  </select>

  <delete id="removeById" parameterType="java.lang.Integer">
    delete from reward_setting
    where rwsid = #{rwsid,jdbcType=INTEGER}
  </delete>

  <insert id="save" parameterType="com.p2p.bean.RewardSetting">
    insert into reward_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="minmoney != null">
        minmoney,
      </if>
      <if test="maxmoney != null">
        maxmoney,
      </if>
      <if test="percent != null">
        percent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="minmoney != null">
        #{minmoney,jdbcType=DECIMAL},
      </if>
      <if test="maxmoney != null">
        #{maxmoney,jdbcType=DECIMAL},
      </if>
      <if test="percent != null">
        #{percent,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.p2p.bean.RewardSetting">
    update reward_setting
    <set>
      <if test="minmoney != null">
        minmoney = #{minmoney,jdbcType=DECIMAL},
      </if>
      <if test="maxmoney != null">
        maxmoney = #{maxmoney,jdbcType=DECIMAL},
      </if>
      <if test="percent != null">
        percent = #{percent,jdbcType=DOUBLE},
      </if>
    </set>
    where rwsid = #{rwsid,jdbcType=INTEGER}
  </update>

  <select id="listPager" resultType="com.p2p.bean.RewardSetting">
    <![CDATA[
      select * from reward_setting limit #{pager.beginIndex}, #{pager.pageSize}
    ]]>
  </select>

  <select id="count" resultType="long">
    <![CDATA[
          select count(rwsid) from reward_setting
        ]]>
  </select>

</mapper>