<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.p2p.bean.Role">
    <constructor>
      <idArg column="rid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="rname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List">
    rid, rname, content
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where rid = #{rid,jdbcType=INTEGER}
  </select>

  <delete id="removeById" parameterType="java.lang.Integer">
    delete from role
    where rid = #{rid,jdbcType=INTEGER}
  </delete>

  <select id="listPagerCriteria" resultType="com.p2p.bean.Role">
    <![CDATA[
          select r.rid, r.rname, r.content
           from role r
           limit #{pager.beginIndex}, #{pager.pageSize}
    ]]>
  </select>

  <select id="countCriteria" resultType="long" parameterType="com.p2p.bean.Role">
    <![CDATA[
          select count(r.rid) from role r
        ]]>
  </select>

  <select id="getById" resultType="com.p2p.bean.Role">
    <![CDATA[
        select * from  role r where r.rid = #{roleId}
      ]]>
  </select>

  <insert id="save" parameterType="com.p2p.bean.Role">
    <selectKey keyColumn="rid" keyProperty="rid" resultType="integer" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rname != null">
        rname,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rname != null">
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.p2p.bean.Role">
    update role
    <set>
      <if test="rname != null">
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>

  <select id="listAll" resultType="role">
    <![CDATA[
      select * from role
    ]]>
  </select>
</mapper>