<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.dao.SkbMapper">
  <resultMap id="BaseResultMap" type="com.p2p.bean.Skb">
    <constructor>
      <idArg column="skid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="juid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ybx" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="rbx" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="ylx" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="rlx" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="ybj" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="rbj" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="rnum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tnum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sktime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="baid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="resint1" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="resint2" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="resstr1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="resstr2" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    skid, uid, juid, ybx, rbx, ylx, rlx, ybj, rbj, rnum, tnum, sktime, baid, resint1, 
    resint2, resstr1, resstr2
  </sql>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from skb
    where skid = #{skid,jdbcType=INTEGER}
  </select>

  <delete id="removeById" parameterType="java.lang.Integer">
    delete from skb where skid = #{skid,jdbcType=INTEGER}
  </delete>

  <insert id="saveList" parameterType="list">
    <![CDATA[
      INSERT INTO skb(uid, juid,
      ybx, rbx, ylx, rlx,
      ybj, rbj, rnum, tnum,
      baid,sktime
      )VALUES
    ]]>
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.uid},#{item.juid},#{item.ybx},#{item.rbx}
      ,#{item.ylx},#{item.rlx},#{item.ybj},#{item.rbj}
      ,#{item.rnum},#{item.tnum},#{item.baid},#{item.sktime})
    </foreach>
  </insert>

  <select id="getByUidAndBaid" resultType="long">
    <![CDATA[
        SELECT COUNT(skid) FROM skb  WHERE uid=#{uid} and baid =#{baid}
    ]]>
  </select>

  <select id="list" resultType="skb" >
    <![CDATA[
      SELECT * FROM skb WHERE uid=#{uid} and baid = #{baid} limit #{pager.beginIndex}, #{pager.pageSize}
    ]]>
  </select>

  <select id="countUid" resultType="long">
    <![CDATA[
        SELECT count(skid) FROM skb WHERE uid=#{uid} and baid = #{baid}
    ]]>
  </select>

  <insert id="save" parameterType="com.p2p.bean.Skb">
    insert into skb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="juid != null">
        juid,
      </if>
      <if test="ybx != null">
        ybx,
      </if>
      <if test="rbx != null">
        rbx,
      </if>
      <if test="ylx != null">
        ylx,
      </if>
      <if test="rlx != null">
        rlx,
      </if>
      <if test="ybj != null">
        ybj,
      </if>
      <if test="rbj != null">
        rbj,
      </if>
      <if test="rnum != null">
        rnum,
      </if>
      <if test="tnum != null">
        tnum,
      </if>
      <if test="sktime != null">
        sktime,
      </if>
      <if test="baid != null">
        baid,
      </if>
      <if test="resint1 != null">
        resint1,
      </if>
      <if test="resint2 != null">
        resint2,
      </if>
      <if test="resstr1 != null">
        resstr1,
      </if>
      <if test="resstr2 != null">
        resstr2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="juid != null">
        #{juid,jdbcType=INTEGER},
      </if>
      <if test="ybx != null">
        #{ybx,jdbcType=DECIMAL},
      </if>
      <if test="rbx != null">
        #{rbx,jdbcType=DECIMAL},
      </if>
      <if test="ylx != null">
        #{ylx,jdbcType=DECIMAL},
      </if>
      <if test="rlx != null">
        #{rlx,jdbcType=DECIMAL},
      </if>
      <if test="ybj != null">
        #{ybj,jdbcType=DECIMAL},
      </if>
      <if test="rbj != null">
        #{rbj,jdbcType=DECIMAL},
      </if>
      <if test="rnum != null">
        #{rnum,jdbcType=INTEGER},
      </if>
      <if test="tnum != null">
        #{tnum,jdbcType=INTEGER},
      </if>
      <if test="sktime != null">
        #{sktime,jdbcType=TIMESTAMP},
      </if>
      <if test="baid != null">
        #{baid,jdbcType=INTEGER},
      </if>
      <if test="resint1 != null">
        #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null">
        #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null">
        #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null">
        #{resstr2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByBaid" parameterType="com.p2p.bean.Skb">
    update skb
    <set>
      <if test="ybx != null">
        ybx = #{ybx,jdbcType=DECIMAL},
      </if>
      <if test="rbx != null">
        rbx = #{rbx,jdbcType=DECIMAL},
      </if>
      <if test="ylx != null">
        ylx = #{ylx,jdbcType=DECIMAL},
      </if>
      <if test="rlx != null">
        rlx = #{rlx,jdbcType=DECIMAL},
      </if>
      <if test="ybj != null">
        ybj = #{ybj,jdbcType=DECIMAL},
      </if>
      <if test="rbj != null">
        rbj = #{rbj,jdbcType=DECIMAL},
      </if>
      <if test="rnum != null">
        rnum = #{rnum,jdbcType=INTEGER},
      </if>
      <if test="sktime != null">
        sktime = #{sktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where baid = #{baid,jdbcType=INTEGER} and uid = #{uid}
  </update>

  <update id="update" parameterType="com.p2p.bean.Skb">
    update skb
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="juid != null">
        juid = #{juid,jdbcType=INTEGER},
      </if>
      <if test="ybx != null">
        ybx = #{ybx,jdbcType=DECIMAL},
      </if>
      <if test="rbx != null">
        rbx = #{rbx,jdbcType=DECIMAL},
      </if>
      <if test="ylx != null">
        ylx = #{ylx,jdbcType=DECIMAL},
      </if>
      <if test="rlx != null">
        rlx = #{rlx,jdbcType=DECIMAL},
      </if>
      <if test="ybj != null">
        ybj = #{ybj,jdbcType=DECIMAL},
      </if>
      <if test="rbj != null">
        rbj = #{rbj,jdbcType=DECIMAL},
      </if>
      <if test="rnum != null">
        rnum = #{rnum,jdbcType=INTEGER},
      </if>
      <if test="tnum != null">
        tnum = #{tnum,jdbcType=INTEGER},
      </if>
      <if test="sktime != null">
        sktime = #{sktime,jdbcType=TIMESTAMP},
      </if>
      <if test="baid != null">
        baid = #{baid,jdbcType=INTEGER},
      </if>
      <if test="resint1 != null">
        resint1 = #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null">
        resint2 = #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null">
        resstr1 = #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null">
        resstr2 = #{resstr2,jdbcType=VARCHAR},
      </if>
    </set>
    where skid = #{skid,jdbcType=INTEGER}
  </update>
</mapper>